div#navigation a{display:block;}

ul#daohanglan li{display:inline;}

div.lx{width:800px;height:540px; border:thick red solid;}

img.one{float:left;width:300px;height:200px;}
img.two{float:left;width:300px;height:200px;}


div.header{position:absolute;left:20%;right:0;top:0;bottom:80%;background-color:red;}
div.sidebar{position:absolute;left:0;right:80%;top:0;bottom:0;background-color:green;}
div.main{position:absolute;left:20%;right:0;top:20%;bottom:0;background-color:yellow;overflow:auto}