/*初始化  reset*/  
body,button,dd,dl,dt,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,ul
{margin:0;padding:0}  
body,button,input
{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}  
h1,h2,h3,h4,h5,h6,button,input{font-size:100%}  
ol,ul{list-style:none}  
a{text-decoration:none}  
a:hover{text-decoration:underline}  
fieldset,img{border:0;vertical-align:top;}  
a,button{cursor:pointer;}  
/*清除浮动*/  
.clearfix:before,.clearfix:after {  
    content:"";  
    display:table;  
}  
.clearfix:after{clear:both;}  
.clearfix{  
    *zoom:1;/*IE/7/6*/  
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   
    /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

/*初始化css分割线*/


html, body {width: 100%;height: 100%;position: absolute;
}

.container{width: 500px;height:2500px;
position: absolute;margin: auto;right: 0;left:0; }



.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m9,.m9,.m10
{width: 100%;}

.m1{height:60px;background-color: #0D8F99;text-align: center;
font-size: 40px;color: white;top: 0;position: absolute;z-index: 1;}

.m1button{background-color: #0D8F99;
font-size: 20px;color: white;height: 50px;position: absolute;
width: 70px;padding-top:  10px;z-index: 2;}

.m1button:hover{cursor: pointer;font-size: 25px;}
/*m1分割线*/

.m2{height:60px;background-color: #F1F2EB;position: absolute;
top: 60px;}

.m2 nav{font-size: 35px;font-family: 黑体;font-weight: border;
opacity: 0.9;color: #4D4747;}
.m2 nav ul{text-align: center;}
.m2 nav ul li{display: inline-block;margin-right: 30px;
	margin-left: 30px;
}

.m2 nav ul li:hover{border-bottom-style: solid;
	border-color: #52A595;margin-right: 40px;
	margin-left: 40px;color: #460606;
cursor: pointer;}


/*m2分割线*/
.m3{height:280px;background-color: #054531;position: absolute;
top: 120px;overflow: hidden;}

.m3 img{width: 100%;height: 100%;opacity: 0.9；}
.m3 img:hover{width: 110%;height: 110%;}
/*m3分割线*/

.m4{height:150px;position: absolute;
top: 400px;display: flex;align-items: center;
justify-content: space-between;} 

.m4 div{width: 20%;height: 80%;
border-radius: 15px;overflow: hidden;font-family: 黑体;
font-weight: border;font-size: 25px;text-align: center;
opacity: 0.85;}
.m4 div:hover{width: 22%;height: 88%;}

.m4 div img{width: 100%;height: 70%;}


/*m4在这里结束*/

.m5{height: 250px;position:absolute;
top:550px;
border-top-style: solid;border-top-color: #838080;
display: flex;align-items: center;
justify-content: space-between; }

.m5 div{height: 80%;width:30%;border-style:solid;
	box-shadow: 5px 5px 5px #888888;
overflow: hidden;border-radius: 15px;
text-align: center;font-family: 黑体;
font-weight: border;font-size: 25px;}

.m5 div:hover{cursor: pointer;
	box-shadow: 10px 10px 10px #888888;
height: 88%;width:33%;font-size: 30px;}

.m5 div img{height: 80%;width: 100%;}

/*m5在这里分割*/



.m6,.m7{height: 400px;position: absolute;
background-color: #FC5C00; }
.m6u,.m7u{height:16%;width: 100%;position: absolute;
top: 0;background-color: #191818;font-family: 黑体;
font-size: 35px;color: white;
border-bottom-style: solid;border-bottom-color: #FFFFFF;}

.m6dl,.m7dl
{width: 30%;height: 84%;border-right-style: solid;
	border-right-color:#FFFFFF;display: flex;flex-wrap: wrap;
	justify-content: center;
	position:absolute;bottom: 0; }

.m6dl1,.m7dl1
{width: 80%;height: 36%;background-color: #CD5A5A;
margin-top: 20px;border-radius: 15px;overflow: hidden;
box-shadow: 5px 5px 10px #0F0E0E;}
.m6dl1:hover,.m7dl1:hover
{width: 90%;height: 40%;cursor: pointer;
box-shadow: 8px 8px 10px #0F0E0E;}
.m6dl2,.m7dl2
{width: 80%;height: 36%;background-color: #CD5A5A;
margin-top: 20px;border-radius: 15px;overflow: hidden;
box-shadow: 5px 5px 10px #0F0E0E;}
.m6dl2:hover,.m7dl2:hover
{width: 90%;height: 40%;cursor: pointer;
box-shadow: 8px 8px 10px #0F0E0E;}

.m6dl img,.m7dl img{width: 100%;height: 100%;}

.m6dr,.m7dr{width: 70%;height: 84%;
	position:absolute;bottom: 0;right: 0;display: flex; 
flex-wrap: wrap;justify-content: center;align-items: center;}

.m6dr div,.m7dr div{width:40%;height: 20%;
margin: 7px;box-shadow: 8px 8px 10px #0F0E0E;
text-align: center;background-color: #050000;
font-family: 黑体;font-size: 25px;color: white; }

.m6dr div:hover,.m7dr div:hover
{margin: 5px;width:43%;height: 21%;
cursor: pointer;font-size: 30px;}
.m6{top: 800px;}
.m7{top: 1200px;}

/*m6,m7打包写了*/