html,body{width: 100%;height: 100%;background-color: #400505;
	padding: 0;margin: 0;overflow: auto;}
div.header{width: 100%;height: 8%;background-color: #4A2929;border-radius: 15px;overflow: auto;
border-style: solid;border-color: #F0E2E2;}
img.bbhead{width: 18%;height: 100%;}

ul#head{float: right;margin:1%;}
ul#head li{display: inline;list-style-type:square; }
ul#head li a{color: #CB0B0B;font-weight:bold; }

div.main:after{
display: block;overflow: hidden;
clear: both;content: ".";line-height: 0;
}

div.main{width: 70%;height: auto;background-color: #07070E;margin:3%;float: left;
border-radius: 15px;overflow: hidden;
border-style: solid;border-color: #F0E2E2;}

div.sidebar{width: 20%;height: auto;background-color: #322F76;margin-right:3%;
margin-top: 3% ;color: #FC930A;
border-radius: 15px;overflow: hidden;
border-style: solid;border-color: #F0E2E2;}

article{text-indent: 2em;color: #EEDDDD;}


div#d_1 ul li a{color:#F08107 }

div#d_3{padding: 2%;margin:2%;float: center;background-color: #01010F;
color: #E7D1D1;clear: both;}



div#d_1{padding: 2%;margin:2%;float: center;background-color: #07070E;
color: #E7D1D1;}

div#d_2{padding: 2%;margin:2%;float: center;background-color: #03030F;
color: #E7D1D1;clear: both;}
h1#wz_1{color:#7A0808;font-weight: 900;}

h1#wz_2{color:#7A0808;font-weight: 900;}

p#tupian{font-size: 3em;padding: 0%;margin: 0%;}

div.tttp{display: flex; height: 100%;width: 100%;flex-direction: row;
flex-wrap: wrap;
align-items: center;overflow: hidden; }
img.ttp{height:100px;width: 100px;border-radius: 15px;overflow: auto;}
div.ttp{height:150px;width: 150px;}

div.footer{width: 100%;height: 8%;background-color: #100202;clear: both;margin:0;
position: relative;bottom: 0;overflow:hidden;}

p.footer{color: #FCF6F6;}

div.footer_p{float: right;width:150px;height: 150px;overflow: auto;color:#F8F2F2;}

