body{height: 100%;width: 100%;}

div.square{position:absolute;height: 200px;width: 400px;background-color: #817D7D;
	left: 0;right: 0;top: 0;bottom: 0;margin: auto;
}

div.zuoshang{height: 50px;width: 50px;border-radius: 0 0 100% 0;
background-color: #F47C14;}

div.youxia{height: 50px;width: 50px;border-radius:100% 0 0 0;
background-color: #F68F08;position: absolute;bottom: 0;right: 0;}